
@font-face {
  font-family: 'AiryHandwriting';
  src: url('fonts/Airy-Regular.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #A6D6FF;
  font-family: 'AiryHandwriting', 'Courier New', Courier, monospace;
}

.canvas {
  position: relative;
  width: 350px;
  height: 450px;
  margin: 0 auto;
}

.status {
  position: absolute;
  top: 11px;
  left: 50%;
  font-weight: 100;
  transform: translateX(-50%);
  font-size: 64px;
  color: #ffffff;
  margin: 0;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timer-box {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 34px;
  height: 83px;
  width: 198px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  margin: 0;
  font-size: 96px;
  color: #171819;
  font-family: 'AiryHandwriting';
  font-weight: lighter;
}

.cycle-info {

  position: absolute;
  font-size: 24px;
  top: 36px;
  left: 310px;
  color: rgb(9, 4, 84);
  font-family: "AiryHandwriting";
  text-align: center;
  transform: translateX(-50%);
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  z-index: 10;

}

.control-button {
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  
}

.control-button:hover {
  transform: scale(0.9);
}

.control-button:active {
  animation: bounce 0.2s ease;
}

@keyframes bounce {
  0%   { transform: scale(0.9); }
  50%  { transform: scale(0.8); }
  100% { transform: scale(0.9); }
}

@keyframes text-bounce {
  0%   { transform: translateX(-50%) scale(1); }
  50%  { transform: translateX(-50%) scale(1.2); }
  100% { transform: translateX(-50%) scale(1); }
}


.start {
  top: 163px;
  left: 56px;
  width: 116px;
  height: 55px;
}

.longbreak {
  top: 163px;
  left: 184px;
  width: 116px;
  height: 55px;
}

.focus {
  top: 231px;
  left: 56px;
  width: 116px;
  height: 55px;
}

.break{
  top: 231px;
  left: 184px;
  width: 116px;
  height: 55px;
}
